@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-4">Welcome to FinancialPlanner!</h1>
    <p class="lead">Your personal financial assistant to manage and plan your finances effectively.</p>
    <hr class="my-4">
    <p>Get started by exploring our features to keep track of your financial health.</p>
    <a class="btn btn-primary btn-lg" href="/SelectInstitution" role="button">Get Started</a>
</div>
